/*Structure*/
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.calculator{
    width: 550px;
    height: 750px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
    padding:2% 1%;
    box-sizing: border-box;
}

/*Display*/
.display{
    width: 520px;
    height: 120px;
    background-color: rgb(241, 241, 241);
    border: 1px solid black;
    border-radius: 10px;
    display: flex;    
    flex-direction: column;
    padding: 2% 5%;
    align-content: center;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.opperation{
    text-align: end;
    flex: 1;
    font-size: 1.5rem;

}

.result{
    text-align: end;
    flex: 3;
    font-size: 3rem;
}


/*Buttons*/
.buttons-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2%;
}

.big-buttons{
    display: flex;
    justify-content:space-between ;
    flex-grow: 1;
    gap: 5%;
}

.bigButtons{
    flex-grow: 1;
    height: 50px;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

#clear{
    background-color: rgb(243, 0, 49);
}

#clear:hover{
    background-color: rgb(240, 68, 102);
}

#del{
    background-color: rgb(206, 128, 26);
}

#del:hover{
    background-color: rgb(202, 155, 94);
}

.buttons-row{
 flex-grow: 1;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.btn,
.number,
.operator{
    flex-grow: 1;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 3rem;
    font-weight: 700;
    padding: 5%;
    background-color: rgb(240, 240, 240);
    
}

.btn:hover,
.number:hover,
.operator:hover{
    background-color: rgb(180, 180, 180);
}

